{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block body %}
    <h1>Profil</h1>

    <p>Prénom : {{ user.username }}</p>
    <p>Nom : {{ user.lastname }}</p>

    <a href="{{ path('profil_edit') }}">Modifier mes informations</a>



{% endblock %}