{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block body %}
    <h1>Profil</h1>

    <td><img src="{{ vich_uploader_asset(user , 'imageFile') }}" /></td>
    <p>{{ user.username }}</p>
    <p>{{ user.lastname }}</p>

    <a href="{{ path('profil_edit') }}">Modifier mes informations</a>



{% endblock %}