{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block body %}
    <h1>Modifier mon profil</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Modifier</button>
        <a href="{{ path('profil') }}">Retour à mon profil</a>

    {{ form_end(form) }}



{% endblock %}