<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            .alert{display: inline-block; padding: 5px 10px;}
            .alert-success{background: #00a65a 2px}
            .alert-error{ background: #9f191f}
        </style>
    </head>
    <body>
    <nav>
        <a href="../">Accueil</a>
        <a href="../team">Équipe</a>
        <a href="../training">Cours</a>
        <a href="../event">Évenement</a>
        {% if is_granted('ROLE_USER') == false %}
        <a href="../profil">Connexion</a>
        <a href="../register">S'inscrire</a>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <a href="../profil">Mon profil</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="../admin">Administration</a>
            {% endif %}
            <a href="../logout">Déconnexion</a>
        {% endif %}
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
