<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>
        <a href="../">Accueil</a>
        <a href="../team">Équipe</a>
        <a href="../training">Cours</a>
        <a href="../event">Évenement</a>
        {% if is_granted('ROLE_USER') == false %}
        <a href="../profil">Connexion</a>
        <a href="../register">S'inscrire</a>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <a href="../logout">Deco</a>
        {% endif %}
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
